body {
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.wrapper a {
    text-decoration: none;
}

.wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-navigation {
    position: relative;
    font-weight: bold;
    color: #000;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.main-logo {
    display: inline-block;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    text-align: center;
    vertical-align: baseline;
}

.menu-item {
    width: 20%;
    box-sizing: border-box;
    padding: 18px 65px;
}

.menu-item:nth-of-type(1) {
    text-align: left;
}

.menu-item:nth-of-type(2) {
    text-align: left;
    margin-right: 20%;
}
.menu-item:nth-of-type(3) {
    text-align: right;
}

.menu-item:nth-of-type(4) {
    text-align: right;
}

.menu-item a {
    color: #000;
}

.menu-item a:hover,
.menu-item a:focus {
    color: #81b3d2; 
}

.menu-item a:active {
    color: rgba(0,0,0,0.3);
}

.promo {
	position: relative;
}

.promo::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/Shape.png");
    background-repeat: no-repeat;
    bottom: 0; 
    z-index: 5;
}

.promo img{
    display: block;
    background-color: #fff;
}

.container {
    text-align: center;
}

.reasons-intro {
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 490px;
}

.reasons-intro-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 29px;
}

.reasons-intro-text {
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.reasons-item {
    background-color: #f2f2f2;
}

.reasons-list {
    display: flex;
    flex-wrap: wrap;
}

.unique-reasons-item {
    color: #fff;
    background-color: #81b3d2;
}

.reasons-item {
	width: 33.3%;
    padding-top: 45px;
    padding-bottom: 56px;
}

.reasons-title,
.features-title {
    font-size: 21px;
}

.reasons-title {
    margin: 0 auto;
    margin-bottom: 25px; 
    width: 160px;
}

.reasons-number {
    margin-bottom: 25px;
}

.reasons-text {
    width: 310px;
    margin: 0 auto;
}

.photocard {
    width: 66.6%;
    height: 256px;
}

.features-list {
    display: flex;
}

.features-item {
    position: relative;
    width: 33.3%;
    padding-top: 160px;
    padding-bottom: 82px;
}

.features-item:nth-of-type(1)::before {
	content: "";
    position: absolute;
    top: 58px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
}

.features-item:nth-of-type(2)::before {
	content: "";
    position: absolute;
    top: 59px;
    left: 161px;
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
}

.features-item:nth-of-type(3)::before {
	content: "";
    position: absolute;
    top: 54px;
    left: 168px;
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-souvenir.svg");
    background-repeat: no-repeat;
}

.features-title {
    margin-top: 0;
}

.features-text {
    margin: 0 auto;
    width: 252px;
}

.booking-title {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 10px;
}

.booking-text {
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.booking-btn {
    padding: 31px 120px;
    font-family: inherit;
    width: 568px;
    background-color: #766357;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: #604e43;
	
}

.booking-btn:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

/*не могу подставить карту под футер, все ломается если пытаюсь, задав position absolute карте */

.bottom-map-block {
    width: 100%;
    z-index: -1;
}

.bottom-map-block iframe{
    position: absolute;
    z-index: 10;
}

.page-footer {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0,9);
}

.page-footer-item {
    width: 33.3%;
    background: rgba(255,255,255,0.9);
    padding: 25px;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.social-media {
	display: flex;
    justify-content: center;
    
}

.social-media-item {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 6px;
}

.social-media-item:first-of-type {
    margin-left: 0;
}

.social-media-item a{
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    box-sizing: border-box;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.social-media-item a:hover {
    background-color: #669ec0;
}

.social-media-item a:active {
    background-color: #5496bd;
	
}

.social-media-item:active path {
    fill: rgba(255,255,255,0.3);
}

.copyright-text {
    line-height: 26px;
}

.page-footer-item:nth-of-type(3) {
    display: flex;
    justify-content: center;
}

.page-footer-item a {
	align-self: center;
}

.page-footer-item .copyright-link svg {
    display: inline-block;
    width: 118px;
    height: 42px;
    vertical-align: middle;
    margin-left: 7px;
}

.copyright-pic:hover path {
    fill: #81b3d2;
}

.copyright-pic:active path {
    fill: #bdbbbc;
}

/* Форма */

.booking-form {
    position: absolute;
	width: 460px;
    padding: 45px 55px 55px 55px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    bottom: 200px;
    background-color: #ffffff;
}

.form-option {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.booking-value {
    margin: 0;
    line-height: 26px;
    font-weight: bold;
}

.booking-input {
    width: 346px;
    padding: 8px;
    border: 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    line-height: 26px;
    font-weight: bold;
}

.booking-input:hover {
    background-color: #ebebeb;
}

.booking-input:focus {
    outline: 2px solid lightgray;
    background-color: #ffffff;
}

/* в мозиле и ие странно ведут себя иконки календаря и + - */

.calendar-icon-btn {
    position: absolute;
    right: 2px;
    background-color: #f2f2f2;
    border: 0px;
    cursor: pointer;
}

.calendar-pic {
    fill: #cacaca;
}

.calendar-pic:hover path {
    fill: #000;
}

.calendar-pic:active path {
	fill: #81b3d2;
}

.booking-value-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0px;
    background-color: #818181;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
}

.booking-value-btn:hover {
    background-color: #000;
}

.booking-value-btn:active {
	background-color: #81b3d2;
}

.minus-children-btn {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 2px;
	right: 90px;
}

.plus-children-btn {
    position: absolute;
	right: 20px;
    width: 10px;
    height: 2px;
}

.plus-children-btn::after {
    position: absolute;
    content: "";
    left: 4px;
    bottom: -4px;
    height: 10px;
    width: 2px;
    background-color: #818181;
}

.minus-adults-btn {
	left: 130px;
    position: absolute;
    width: 10px;
    height: 2px;
}

.plus-adults-btn {
    position: absolute;
    width: 10px;
    height: 2px;
    left: 200px;
}

.plus-adults-btn::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
	left: 4px;
    bottom: -4px;
    background-color: #818181;
}

.count-input {
    width: 114px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #f2f2f2;
    line-height: 26px;
    font-weight: bold;
    border: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.count-input:hover {
    background-color: #ebebeb;
}

.count-input:focus {
    outline: 2px solid lightgray;
    background-color: #ffffff;
}

.search-btn {
    margin: 0 auto;
    margin-top: 20px;
    padding: 17px 199px;
    font-family: inherit;
    width: 458px;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #669ec0;
	
}

.search-btn:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}

/*Hotel Page*/

.menu-item-current a{
    color: #766357;
}

.hotel-filter {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
}

.filter-form {
	display: flex;
    justify-content: space-between;
    padding: 25px 60px 0px 60px;
    
}

.filter-form-fieldset {
    color: #fff;
    border: 0px;
}


.filter-form-fieldset:nth-child(2) {
    margin-left: 95px;
    margin-right: auto;
    color: #fff;
    border: 0px;
}

.filter-legend {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.filter-item {
	padding-left: 20px;
    padding-bottom: 25px;
}


.filter-item input {
    display: none;
}

.filter-item label {
    margin: 0;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    display: block;
    color: #ffffff;
}

.filter-checkbox + label::before {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 23px;
    left: -20px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    border: 0px;
}

.filter-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.show-hotels-btn:hover,
.show-hotels-btn:focus {
    background-color: #fff;
    color: #000;
}

.hotel-sort-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-sort-text {
    font-size: 12px;
    line-height: 18px;
}

.hotel-sort-item a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dotted #81b3d2;
}

.hotel-sort-item:hover a,
.hotel-sort-item:focus a {
    color: #81b3d2;
}

.hotel-sort-item-current a {
    color: #81b3d2;
    border: 0px;
}

.hotel-sort-item:active a {
    color: #000;
    border: 0px;
}

.sort-up {
	margin-right: 10px;
}

.sort-up-pic path,
.sort-down-pic path {
    display: inline-block;
    vertical-align: middle;
    fill: #cacaca;
}

.sort-up-pic:hover path,
.sort-down-pic:hover path {
    fill: #000;
}

.sort-up-pic:active path,
.sort-down-pic:active path {
    fill: #81b3d2;
}

/* считается ли это 3 уровнем вложености, если да как сделать двумя, я не знаю :( */

.sort-current svg path {
    fill: #81b3d2;
}

.hotel-item {
    border-top: 1px solid lightgray;
}

.hotel-item:last-of-type {
    border-bottom: 1px solid lightgray;
}

.hotel-item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-item-title a {
    color: #000;
}

.hotel-item-title a:hover {
    color: #81b3d2;
}

.hotel-item-title a:active {
    color: rgba(0,0,0,0.3);
}

.hotel-photo {
    width: 135px;
    height: 90px;
}

.hotel-more-information a {
    display: inline-block;
    padding: 3px 17px;
    background-color: #81b3d2;
    border: 0px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.hotel-more-information a:hover {
    background-color: #669ec0;
}

.hotel-more-information a:active {
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
}

.book-it-btn {
    font-family: inherit;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 17px;
    background-color: #766357;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

.book-it-btn:hover,
.book-it-btn:focus {
    background-color: #604e43;
}

.book-it-btn:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.stars {
    margin-top: 0;
}

.stars-item {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}

.rating {
    margin: 0;
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 4px 14px;
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
}

/* ---В разработке------------------------------------------------------*/

.hotel-sort {
    display: flex;
    justify-content: flex-start;
    padding: 26px 71px 30px 71px;
    align-items: baseline;
}

.hotel-sort-title {
    margin: 0;
}

.hotel-sort-text {
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    margin-left: 48px;
}

.hotel-sort-parameters {
    display: flex;
}

.hotel-sort-item {
    margin: 0 auto;
    margin-left: 38px;
}

.sorting-arrows-block {
	margin-left: auto;
}

.hotel-item {
    margin: 0;
    padding: 30px 72px 20px 72px;; 
}

.hotel-photo {
    margin: 0;
	display: inline-block;
    vertical-align: baseline;
}

.hotel-item-container {
	margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* тут проблема с выравниванием типа и цены на одном уровне у каждого отеля*/

.hotel-type,
.hotel-price {
    display: inline-block;
    vertical-align: baseline;
    margin: 0 auto;
    padding-right: 35px;
}

.hotel-more-information,
.book-it-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.hotel-information {
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    margin-top: -3px;
    margin-right: auto;
    padding-left: 30px;
}

.hotel-item-title {
    margin: 0 auto;
    padding-bottom: 9px;
}

.hotel-rating {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

/* Сложная форма by html academy */

.filter-range {
    width: 330px; 
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
