body {
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.wrapper a {
    text-decoration: none;
}

.wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-navigation {
    position: relative;
    font-weight: bold;
    color: #000;
    padding: 0 6%;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-logo {
    display: inline-block;
    z-index: 10;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 69px;
    text-align: center;
    vertical-align: baseline;
}

.menu-item {
    width: 20%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 17px 0;
}

.menu-item:nth-of-type(1) {
    text-align: left;
    margin-right: 6%;
}

.menu-item:nth-of-type(2) {
    text-align: left;
    margin-right: 20%;
}
.menu-item:nth-of-type(3) {
    text-align: right;
}

.menu-item:nth-of-type(4) {
    text-align: right;
    margin-left: 6%;
}

.menu-item a {
    color: #000;
}

.menu-item a:hover,
.menu-item a:focus {
    color: #81b3d2; 
}

.menu-item a:active {
    color: rgba(0,0,0,0.3);
}

.promo {
    position: relative;
}

.promo::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 57px;
    background-image: url("../img/shape.png");
    background-repeat: no-repeat;
    bottom: 0; 
    z-index: 5;
}

.promo img{
    display: block;
}

.container {
    text-align: center;
}

.reasons-intro {
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 490px;
}

.reasons-intro-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 29px;
}

.reasons-intro-text {
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
}

.reasons-item {
    background-color: #f2f2f2;
    width: 33.3%;
    padding-top: 47px;
    padding-bottom: 59px;
}

.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.unique-reasons-item {
    color: #fff;
    background-color: #81b3d2;
}

.reasons-title,
.features-title {
    font-size: 21px;
}

.reasons-title {
    margin: 0 auto;
    margin-bottom: 25px; 
    width: 160px;
}

.reasons-number {
    margin-bottom: 20px;
}

.reasons-text {
    width: 310px;
    margin: 0 auto;
}

.photocard {
    width: 66.6%;
}

.photocard img {
    display: block;
}

.features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.features-item {
    position: relative;
    width: 33.3%;
    padding-top: 160px;
    padding-bottom: 82px;
}

.features-item:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 162px;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
}

.features-item:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 161px;
    width: 74px;
    height: 70px;
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
}

.features-item:nth-of-type(3)::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 168px;
    width: 64px;
    height: 76px;
    background-image: url("../img/icon-souvenir.svg");
    background-repeat: no-repeat;
}

.features-title {
    margin-top: 0;
}

.features-text {
    margin: 0 auto;
    width: 300px;
}

.booking-title {
    font-size: 30px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 53px;
    padding-bottom: 10px;
}

.booking-text {
    line-height: 24px;
    text-align: center;
    margin-bottom: 49px;
}

.booking-btn {
    padding: 31px 120px;
    font-family: inherit;
    width: 568px;
    background-color: #766357;
    color: #fff;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

.booking-btn:hover,
.booking-btn:focus {
    background-color: #604e43;
	
}

.booking-btn:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.map-block {
    position: relative;
    width: 100%;
}

.map-block iframe{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.page-footer {
    padding-top: 25px;
    padding-bottom: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255,255,255,0.9);
}

.footer-index {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.page-footer-item {
    width: 33.3%;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

.social-media-item {
    margin-left: 6px;
}

.social-media-item:first-of-type {
    margin-left: 0;
}

.social-media-item a{
    display: inline-block;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
}

.social-media-item a:hover {
    background-color: #669ec0;
}

.social-media-item a:active {
    background-color: #5496bd;
}

.social-media-item a:active path {
    fill: rgba(255,255,255,0.3);
}

.social-pic {
    pointer-events: none;
}

.copyright-text {
    line-height: 26px;
}

.page-footer-item:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.copyright-link {
    -ms-flex-item-align: center;
        align-self: center;
    width: 118px;
    height: 42px;
    margin-left: 2px;
    padding: 10px 2px 1px 9px;
}

.copyright-link:hover path {
    fill: #81b3d2;
}

.copyright-link:active path {
    fill: #bdbbbc;
}

.copyright-pic {
    pointer-events: none;
}

/* Форма */

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translate(-50%, -100px);
                transform: translate(-50%, -100px);
    }
    
    100% {
        -webkit-transform: translate(-50%, 0px);
                transform: translate(-50%, 0px);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translate(-50%, -100px);
                transform: translate(-50%, -100px);
    }
    
    100% {
        -webkit-transform: translate(-50%, 0px);
                transform: translate(-50%, 0px);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-53%);
                transform: translateX(-53%);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(-43%);
                transform: translateX(-43%);
    }
}

@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-53%);
                transform: translateX(-53%);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(-43%);
                transform: translateX(-43%);
    }
}

.booking-form {
    position: absolute;
    width: 458px;
    padding: 55px 55px 55px 55px;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 100;
    bottom: 209px;
    background-color: #ffffff;
    -webkit-animation: slide-down 0.6s;
            animation: slide-down 0.6s;
    
}

.modal-hide {
    display: none;
}

.modal-show {
    display: block;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.form-option {
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 29px;
}

.form-count {
    margin-top: 30px;
}


.booking-label {
    margin-right: auto;
    line-height: 26px;
    font-weight: bold;
}

.booking-input {
    font-family: inherit;
    width: 346px;
    height: 38px;
    padding: 6px;
    padding-left: 13px;
    padding-right: 40px;
    border: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f2f2f2;
    line-height: 26px;
    font-weight: bold;
}

.booking-input::-webkit-input-placeholder {
    color: #000;
}

.booking-input:-ms-input-placeholder {
    color: #000;
}

.booking-input::-ms-input-placeholder {
    color: #000;
}

.booking-input::placeholder {
    color: #000;
}

.booking-input:hover {
    background-color: #ebebeb;
}

.booking-input:focus {
    outline: 2px solid lightgray;
    background-color: #ffffff;
}

.calendar-btn {
    position: absolute;
    right: 2px;
    top: 6px;
    background-color: rgba(255,255,255,0);
    border: 0px;
    cursor: pointer;
    fill: #cacaca;
    text-transform: inherit;
}

.calendar-btn:hover path {
    fill: #000;
}

.calendar-btn:active path {
    fill: #81b3d2;
}

.people-amount-btn {
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    border: 0px;
    background-color: #f2f2f2;
    line-height: 26px;
    font-weight: bold;
    cursor: pointer;
    font-size: 23px;
    color: #818181;
}

.people-amount-btn:hover {
    color: #000;
}

.people-amount-btn:active {
    color: #81b3d2;
}

.minus-btn {
    margin-left: 40px;
}

.plus-btn:nth-of-type(2) {
    margin-right: 40px;
}

.count-input {
    width: 38px;
    height: 38px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 6px;
    background-color: #f2f2f2;
    line-height: 26px;
    font-weight: bold;
    border: 0px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.count-input::-webkit-input-placeholder {
    color: #000;
}

.count-input:-ms-input-placeholder {
    color: #000;
}

.count-input::-ms-input-placeholder {
    color: #000;
}

.count-input::placeholder {
    color: #000;
}

.count-input:hover {
    background-color: #ebebeb;
}

.count-input:focus {
    outline: 2px solid lightgray;
    background-color: #ffffff;
}

.search-btn {
    margin-top: 20px;
    padding: 17px 196px;
    font-family: inherit;
    background-color: #81b3d2;
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #669ec0;
	
}

.search-btn:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3);
}

/*Hotel Page*/

.menu-item-current a{
    color: #766357;
}

.hotel-filter {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-color: #87a6c5;
}

.filter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 27px 60px 0px 60px;
    
}

.filter-form-fieldset {
    color: #fff;
    border: 0px;
    
}

.filter-form-fieldset:nth-child(2) {
    margin-left: 95px;
    margin-right: auto;
}

.filter-legend {
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.filter-item {
    padding-left: 20px;
    padding-bottom: 24px;
}

.filter-item label {
    margin: 0;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
    display: block;
    color: #ffffff;
}

.filter-checkbox + label::before {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 23px;
    left: -20px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    border: 0px;
}

.filter-checkbox:focus + label::before {
    content: "";
    outline: 1px dotted #fff;
}

.filter-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.filter-checkbox:disabled:checked + label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
    background-repeat: no-repeat;
}

.filter-checkbox:disabled + label::before {
    background-image: url("../img/checkbox-off-disabled.svg");
    background-repeat: no-repeat;
}

.filter-range {
    width: 318px;
    color: #fff;
}

.filter-range-title {
    color: #fff;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #fff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    margin: -4px;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 85px;
    padding-left: 70px;
}

.price-controls input {
    width: 50px;
    height: 38px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.transparent-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

.transparent-btn:hover {
    color: #000;
    background: #fff;
}

.hotel-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 29px 71px 30px 71px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.hotel-sort-title {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-sort-text {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    margin-left: 48px;
}

.hotel-sort-parameters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.hotel-sort-item {
    margin: 0 auto;
    margin-left: 36px;
}

.hotel-sort-item a {
    font-size: 12px;
    line-height: 18px;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dotted #81b3d2;
}

.hotel-sort-item a:hover,
.hotel-sort-item a:focus {
    color: #81b3d2;
}

.hotel-sort-item-current a {
    color: #81b3d2;
    border: 0px;
}

.hotel-sort-item a:active  {
    color: #000;
    border: 0px;
}

.sorting-arrows-block {
    margin-left: auto;
}

.sort-up {
    margin-right: 10px;
}

.sort-up-pic path,
.sort-down-pic path {
    fill: #cacaca;
}

.sort-up-pic:hover path,
.sort-down-pic:hover path {
    fill: #000;
}

.sort-up-pic:active path,
.sort-down-pic:active path {
    fill: #81b3d2;
}

.sort-current path {
    fill: #81b3d2;
}

.hotel-item {
    margin: 0;
    padding: 30px 72px 30px 72px; 
    border-top: 1px solid lightgray;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.hotel-item:last-of-type {
    border-bottom: 1px solid lightgray;
}

.hotel-item-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: -3px;
    padding-bottom: 8px;
}

.hotel-item-title a {
    color: #000;
}

.hotel-item-title a:hover {
    color: #81b3d2;
}

.hotel-item-title a:active {
    color: rgba(0,0,0,0.3);
}

.hotel-photo {
    width: 135px;
    height: 90px;
    margin: 0;
}

.hotel-type,
.hotel-price {
    margin: 0;
    padding-bottom: 11px;
}

.hotel-more-information,
.book-it-btn {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
}

.hotel-information {
    margin-right: auto;
    padding-left: 30px;
}

.hotel-rating {
    text-align: right;
}

.hotel-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.right-hotel-part{
    padding-left: 5px;
}

.hotel-more-information {
    padding: 3px 17px;
    background-color: #81b3d2;
    border: 0px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.hotel-more-information:hover {
    background-color: #669ec0;
}

.hotel-more-information:active {
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
}

.book-it-btn {
    font-family: inherit;
    line-height: 21px;
    padding: 3px 17px;
    background-color: #766357;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
}

.book-it-btn:hover,
.book-it-btn:focus {
    background-color: #604e43;
}

.book-it-btn:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.3);
}

.stars {
    margin-top: 0;
}

.stars-item {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
}

.rating {
    margin: 0;
    margin-top: 27px;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 14px;
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}